body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background-color: #78e9cd;
  padding: 20px;
  list-style: none;
  color: black;
}


.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


#calendar {
  max-width: 900px;
  margin: 40px auto;
}



table {
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #007BFF;
  color: white;
}

td, th {
  padding: 10px;
  text-align: center;
}